{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="divide">
        <aside id="aside">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="">
            </div> 
            <nav>
                
                {% with route=request.resolver_match.url_name %}
                <a class="{% if route == 'dashboard' %} active {% endif %}" href="{% url 'dashboard' %}">
                    &#9654; Dashboard
                </a>
                <hr style="margin-block:10px">
                <a class="{% if route == 'categories' or route == 'categories.insert' or route == 'categories.update' %} active {% endif %}" href="{% url 'categories' %}">
                    &#9654; Categories
                </a>
                <a class="{% if route == 'sub-categories' or route == 'sub-categories.insert' or route == 'sub-categories.update' %} active {% endif %}" href="{% url 'sub-categories' %}">
                    &#9654; Sub-Categories
                </a>
                <hr style="margin-block:10px">
                <a class="{% if route == 'products' or route == 'products.insert' or route == 'products.update' %} active {% endif %}" href="{% url 'products' %}">
                    &#9654; Products
                </a>
                <a class="{% if route == 'product_companies' or route == 'product_companies.insert' or route == 'product_companies.update' %} active {% endif %}" href="{% url 'product_companies' %}">
                    &#9654; Pro-Companies
                </a>
                <a class="{% if route == 'purchase' or route == 'purchase.insert' or route == 'purchase.update' %} active {% endif %}" href="{% url 'purchase' %}">
                    &#9654; Pro-Purchase
                </a>
                <hr style="margin-block:10px">
                <a class="{% if route == 'companies' or route == 'companies.insert' or route == 'companies.update' %} active {% endif %}" href="{% url 'companies' %}">
                    &#9654; Companies
                </a>
                <a class="{% if route == 'distributors' or route == 'distributors.insert' or route == 'distributors.update' %} active {% endif %}" href="{% url 'distributors' %}">
                    &#9654; Distributors
                </a>
                <hr style="margin-block:10px">
                <a class="{% if route == 'customers' or route == 'customers.insert' or route == 'customers.update' %} active {% endif %}" href="{% url 'customers' %}">
                    &#9654; Customers
                </a>
                {% endwith %}
            </nav>
        </aside>
        <main>
            <header>
                <div>
                    <button type="button" id="open">&#8801</button>
                    <button type="button" id="close">&#8801</button>
                </div>
                <div id="dropdown">
                    <span>Hello,User</span>
                    <div id="list" class="list">
                        <a href="#">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </header>
            <div id="main-section">