{% extends 'admin/base.html' %} {% block 'content' %}
<div class="header-heading">
  <h1>Purchase</h1>
  <a href="{% url 'purchase.insert' %}" class="btn">New Record</a>
</div>
<section id="data-section">
  <table>
    <thead class="thead">
      <tr>
        <th>Company</th>
        <th>Distributor</th>
        <th>Qty</th>
        <th>Totall-Bill</th>
        <th>Date</th>
        <th style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <td>{{d.CompanyName}}</td>
        <td>{{d.DistributorName}}</td>
        <td>{{d.qty}}</td>
        <td>${{d.totalBill}}</td>
        <td>{{d.date}}</td>
        <td style="display: flex; justify-content: center; width: 200px">
          <a href="{% url 'purchase.update' id=d.id %}" style="margin-right: 10px" class="btn edit"
            >Update</a
          >
          <form method="post" action="{% url 'purchase.delete' id=d.id %}">
            <button type="submit" class="btn delete">Delete</button>
            {% csrf_token %}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock 'content' %}
