{% extends 'admin/base.html' %} {% block 'content' %}
<h1>Update Category</h1>
<section id="data-section">
  <form action="" method="post" name="category"
    onsubmit="return categoryForm()">
    <input type="text" name="name" value="{{category.CatName}}" placeholder="Category name" />
    <select name="companyID" id="" style="text-transform: capitalize">
      {% for c in company %}
      <option value="{{c.companyID}}" 
      {% if c.companyID == category.PCID_id %}
        selected
      {% endif %}
         style="text-transform: capitalize">{{c.companyName}}</option>
      {% endfor %}
    </select>
    {% csrf_token %}
    <button type="submit" class="btn">Submit</button>
  </form>
</section>
{% endblock 'content' %}
